{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="section-product"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-12">
                <div class="produknya">
                    <div class="column-product">
                        <div class="column-middle">
                            <div class="video_detail">
                                <video controls>
                                    <source src='{{ videos.videofile.url }}' type='video/mp4'>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <p class="judul-video-detail">{{ videos.judul }}</p>
                    <p>{{ videos.deskripsi_video }}</p>
                </div> 
            </div>
            <div class="col-md-2 col-sm-4 col-12">
                <h3>Lihat Video Lainnya</h3>
                {% for data in video_lain %}
                <div class="video_home">
                    <video controls>
                        <source src='{{ data.videofile.url }}' type='video/mp4'>
                    </video>
                    <a class="link-lain" href="{% url 'post_detail' post_id=data.id %}">{{ data.judul }} test</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>    
{% endblock %}